related_articles/Pedestrian[[:space:]]detection[[:space:]]at[[:space:]]100[[:space:]]frames[[:space:]]per[[:space:]]second[[:space:]]-[[:space:]]2012_cvpr_pedestrian_detection_at_100_frames_per_second.pdf filter=lfs diff=lfs merge=lfs -text
related_articles/cascade_classifier_speedup_article.pdf filter=lfs diff=lfs merge=lfs -text
cascadeClassifier_notes.pdf filter=lfs diff=lfs merge=lfs -text
